<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link href='/main.css' rel='stylesheet' type='text/css'>
    </head>  
    <body class="results">
        <%= JSON.stringify(result) %>
    </body>
</html>